
.contact .row {
  margin: 0 10%;
  }
  
  .contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
  }
  
  .contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
  }
  
  .contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #000000;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.687);
  }
  
  .contact .row form .box::placeholder {
    text-transform: capitalize;
  }
  .contact .row form .message {
    height: 15rem;
    resize: none;
  }
  
  .contact .row .content .title {
    text-transform: uppercase;
    color: #000000;
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  
  .contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #000000;
    padding: 1rem 0;
    font-weight: normal;
  }
  
  .contact .row .content .info h3 i {
    padding-right: 1rem;
  }
  